<h3>All TV Shows</h3>

<ul>
  <% @television_shows.each do |show| %>
    <li>
      <a href='/television_shows/<%= show.id %>'><%= "#{show.title} (#{show.network})" %></a>
    </li>
  <% end %>
</ul>
